[tool.poetry]
name = "nonebot-adapter-console"
version = "0.2.1"
description = "console adapter for nonebot2"
authors = ["MelodyKnit <yanximelody@gmail.com>"]
license = "MIT"

packages = [
  { include = "nonebot" }
] 

[tool.poetry.dependencies]
python = "^3.8.0"
nonebot2 = "^2.0.0-beta.1"
textual = "0.1.18"

[tool.poetry.group.dev.dependencies]
isort = "^5.10.1"
black = "^22.1.0"
pre-commit = "^2.16.0"
nonebot2 = { git = "https://github.com/nonebot/nonebot2.git" }

[tool.black]
line-length = 88
target-version = ["py38", "py39", "py310", "py311"]
include = '\.pyi?$'
extend-exclude = '''
'''

[tool.isort]
profile = "black"
line_length = 88
length_sort = true
skip_gitignore = true
force_sort_within_sections = true
extra_standard_library = ["typing_extensions"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
