Header > HeaderIcon {
  color: #ea5252;
}

RouterView {
  height: 100%;
  width: 100%;
}

HorizontalView {
  layout: horizontal;
  height: 100%;
  width: 100%;
}

HorizontalView > * {
  height: 100%;
  width: 100%;
}

HorizontalView > .-w-50 {
  width: 50%;
}

HorizontalView ChatRoom Toolbar {
  layout: horizontal;
  height: 3;
  width: 100%;
  dock: top;
  border: solid $accent;
}

HorizontalView ChatRoom Toolbar Static.left {
  width: 3;
  dock: left;
}

HorizontalView ChatRoom Toolbar Static.center {
  width: 100%;
  content-align: center middle;
}

HorizontalView ChatRoom Toolbar Static.right {
  width: 3;
  dock: right;
}

HorizontalView ChatRoom Toolbar Static.mr-3 {
  margin-right: 3;
}
